In [1]:
println("Hello, world!")

Hello, world!

In [21]:
# http://www.math.odu.edu/~bogacki/cgi-bin/lat.cgi Row Reduced echelon form calculator
RAt = [[1 0 -2 1], [0 1 1 0]]
NAt = [[4  -2  2  0], [-1  0  0  1]]

2-element Array{Array{Int64,2},1}:
 [4 -2 2 0]
 [-1 0 0 1]

In [23]:
RAt*transpose(NAt)

4Ã—4 Array{Int64,2}:
  4  -2   2  0
 -1   0   0  1
 -9   4  -4  1
  4  -2   2  0